body {
	background-color: lightgray;
}
.pictures1 {
	display: inline;
	width: 200px;
	height: 100px;
	margin: 10px;
}

.pictures2 {
	display: inline-block;
	width: 200px;
	height: 100px;
	margin: 10px;
}

.pictures3 {
	display:  block;
	margin: 10px;
}

#footer {
	text-align: center;
	font-size: 20px;
	font-family: sans-serif;
	background-color: black;
	color: white;
	padding: 20px;
}